	<!-- エラーメッセージ表示-->
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- エラーメッセージ表示-->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>プロフィール編集</h3></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
				
					<%= form_for(@user) do |f| %>
					
					<div class="field">
						<%= f.label :プロフィール画像 %>
						<%= f.attachment_field :profile_image %>
					</div>
					
					<div class="field">
						<%= f.label :ユーザー名 %>
						<%= f.text_field :name, class: "name" %>
					</div>
						
					<div class="field">
						<%= f.label :メールアドレス %>
						<%= f.email_field :email, class: "email" %>
					</div>
						
					<div class="field">
						<%= f.label :性別 %>
						<%= f.text_field :sex, class: "sex" %>
						<%= f.radio_button :sex_hidden, :false %>
						<%= f.label :sex_hidden, "公開", {value: :false, style: "display: inline-block;"} %>
						<%= f.radio_button :sex_hidden, :true %>
						<%= f.label :sex_hidden, "非公開", {value: :true, style: "display: inline-block;"} %>
					</div>
						
					<div class="field">
						<%= f.label :年齢 %>
						<%= f.text_field :age, class: "age" %>
						<%= f.radio_button :age_hidden, :false %>
						<%= f.label :age_hidden, "公開", {value: :false, style: "display: inline-block;"} %>
						<%= f.radio_button :age_hidden, :true %>
						<%= f.label :age_hidden, "非公開", {value: :true, style: "display: inline-block;"} %>
					</div>
					  
					<div class="field">
						<%= f.label :年収 %>
						<%= f.text_field :income, class: "income" %>
						<%= f.radio_button :income_hidden, :false %>
						<%= f.label :income_hidden, "公開", {value: :false, style: "display: inline-block;"} %>
						<%= f.radio_button :income_hidden, :true %>
						<%= f.label :income_hidden, "非公開", {value: :true, style: "display: inline-block;"} %>
					</div>
						
					<div class="field">
						<%= f.label :業種 %><br />
						<%= f.select :industry, User.industries.keys, {}, {class: 'industry'} %>
					</div>
					  
					<div class="field">
						<%= f.label :職種 %>
						<%= f.text_field :job, class: "job" %>
					</div>
						
					<div class="field">
						<%= f.label :自己紹介コメント %>
						<%= f.text_field :introduction, class: "introduction" %>
					</div>
						
					<div class="actions">
						<%= f.submit %>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>