<!--業種検索-->
<!--追加分-->
 <div class="dropdown">
 <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
 業種検索
 <span class="caret"></span>
 </button>
 <ul class="dropdown-menu" role="menu">
 	<% User.industries.keys.to_a.each do |key| %>
 	  <li role="presentation"><%= link_to key, users_path(industry_name: key) %></li>
 	<% end %>
 	
 <!--<@industrys.each do |user,industry| %>-->
 <!--<li role="presentation"><= link_to user.industry, users_path(user: user.industry) %></li>-->
 <!--< end %>-->
 <!--<= select :industry, :name, User.industries.keys.to_a, include_blank: true %>-->
 </ul>
 </div><br>
 <!--<div>-->
 	
<!--追加分-->
<!--業種検索-->

<!--追加分-->
<!--業種が選択されていない場合は全ユーザー一覧-->
 <% if  @industry.nil? %>
 <h1>ユーザ一覧</h1>
 <% else %>
 <!--業種が選択されている場合はその業種のユーザー一覧-->
 <h1><%= @industry.name %></h1>
 <% end %>
 <!--追加分-->




<div class="col-xs-9">
<!--<h2>ユーザー一覧</h2>-->
<!--users一覧 -->
<table class="table">
	<thead>
		<tr>
			<th>ユーザー画像</th>
			<th>名前</th>
			<th>性別</th>
			<th>年齢</th>
			<th>年収</th>
			<th>業種</th>
			<th>職種</th>
			<th>自己紹介</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	
　<tbody>
	<% @users.each do |user| %>
	　<tr>
	　　<td><%= attachment_image_tag(user, :profile_image, :fill, 34, 34, fallback: "no-image-mini.jpg") %></td>
	　　<td><%= user.name %></td>
	　　<td><%= user.sex %></td>
	　　<td><%= user.age %></td>
	　　<td><%= user.income %></td>
	　　<td><%= user.industry %></td>
	　　<td><%= user.job %></td>
	　　<td><%= user.introduction %></td>
	　　<td>
	　　	<% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
        <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
	　　</td>
	　　<td><%= link_to "マイページ", user_path(user) %></td>
	　</tr>　
	<% end %>
</tbody>

