<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "No-image.png", size:'300x300' %> 
    </div>  
  
    <div class="col-xs-12 col-lg-8">
      <table class="table table-hover table-inverse">
        <tr>
          <th>性　別</th> 
          <% if @user.sex_hidden == false %>
          <th><%= @user.sex %></th>
          <% else %>
          <th>非公開</th>
          <% end %>
        </tr>
        <tr>
          <th>年齢</th>
          <% if @user.age_hidden == false %>
          <th><%= @user.age %></th>
          <% else %>
          <th>非公開</th>
          <% end %>
        </tr>
        <tr>
          <th>年収</th> 
          <% if @user.income_hidden == false %>
          <th><%= @user.income %></th>
          <% else %>
          <th>非公開</th>
          <% end %>
        </tr>
        <tr>
          <th>業種</th> 
          <th><%= @user.industry %></th>
        </tr>
        <tr>
          <th>職種</th> 
          <th><%= @user.job %></th>
        </tr>
        <tr>
          <th>コメント</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <th>フォロー数</th>
          <th><%= link_to @user.follower.count ,users_follow_path(@user) %></th>
        </tr>
        <tr>
          <th>フォワー数</th>
          <th>
          <div class='follower_count'>
            <%= render 'relationships/follower_count'%>
          </div>
          </th>
        </tr>
      </table>
      
      
      <table>
        <tr>
          <th>
            <% if @user.id == current_user.id %>
            <!--ログインユーザーのshowページではフォローボタン非表示-->
            <% else %>
            <div class = "relationships">
              <%= render 'relationships/relationship' %>
            </div>
            <% end %>
          </th>  
          <th>
            <%  if @user.id == current_user.id %>
            <% unless @user.email == "test@example.com" %>
            <%= link_to '登録情報編集', edit_user_path(@user), class: "btn-sm btn-warning" %>
            <% end %>
            <% end %>
          </th>
          <th>
            <%= link_to '新規投稿', new_voice_path, class: "btn-sm btn-success" %>
          </th>
        </tr>
      </table>
    </div> 
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h2><%= @user.name %>の声</h2>
        <table class="table">
          <tbody>
            <% @voices.each do |voice| %>
              <tr>
                <td><%= attachment_image_tag @user, :profile_image, :fill, 34, 34, format: 'jpeg' %>
                <%= link_to voice.body, voice_path(voice.id) %>
                </td>
                <td>
                  <p>スコア[<%= voice.score %>]</p>
                  <% if voice.score == nil %>
                  <p>スコアがありません</p>
                  <% elsif voice.score < 0 %>
                  <p>ネガティブな投稿</p>
                  <% else %>
                  <p>ポジティブな投稿</p>
                  <% end %>
                </td>
              </tr>
                
            <% end %>
          </tbody>
        </table>  
    </div>
  </div>
</div>



