<!-- エラーメッセージ表示-->
	<% if @voice.errors.any? %>
		<div id="error_explanation">
			<h3><%= @voice.errors.count %>error prohibited this obj from being saved:</h3>
			<ul>
				<% @voice.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- エラーメッセージ表示-->

<div class="container">
	<div class="row">
		<div class="col-sm-９">
			<h1>新規投稿</h1>
				<%= form_with model:@voice, local:true do |f| %>
				<h4>内容</h4>
				<%= f.text_area :body, rows:'5', class: "form-control",placeholder: "投稿ここに" %>
				<%= f.submit '投稿' %>
				<% end %>
		</div>
	</div>
</div>