<div class="container">
<div class="row">
  <h2><%= @voice.user.name %>の声</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>ユーザー画像</th>
        <th>ユーザー名</th>
        <th>声</th>
      </tr>
    </thead>
    
  <tbody>
      <tr>
        <td> <!--ユーザー画像-->
          <%= attachment_image_tag @voice.user, :profile_image, :fill, 34, 34, format: 'jpeg' %>
        </td>
        <td><!--ユーザー名-->
          <%= @voice.user.name %>
        </td>  
        <td><!--声-->
          <%= @voice.body %>
        </td>
        <td><!--いいねボタン-->
					<div id="goodjob-btn<%= @voice.id %>">
          <%= render 'goodjobs/goodjob', voice: @voice %>
          </div>
        </td>
          <td><!--コメント件数-->
            <%= @voice.post_comments.count %>件コメント
          </td>
         <% if @voice.user == current_user %>
			  <td><%= link_to "編集", edit_voice_path(@voice), class: "btn-sm btn-success edit_book_#{@voice.id}" %></td>
				<td><%= link_to "削除", voice_path(@voice), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@voice.id}" %></td>
				<% end %>
      </tr>
  </tbody>
 </table>  
 
        <!--コメント本文・投稿フォームのテンプレート -->
        <h2>コメント</h2>
        <!--<div id="post_comment-btn<%= @voice.id %>">-->
        <div class = "post_comments" >
        <%= render 'post_comments/post_comment' %>
        </div>
</div><!--row-->
</div><!--container-->