<!DOCTYPE html>
<html>
  <head>
    <title>Guild</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <header class="navbar navbar navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>Guild</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
              <li><%= link_to 'ユーザー一覧', users_path %></li>
              <li><%= link_to 'ギルド員の声', voices_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <li></li>
            <% else %>
              <li><%= link_to '新規登録', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
              <li><%= link_to 'ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    
  <body>
    <%= yield %>
  </body>
</html>
